@media (max-width: 500px) {
    .body{
        background-color:#007C7A;  
        padding-top: 2px; 
        font-family: MS_Sans_Serif;
        width:100%;
    }

    .phototable{
        margin-top: 4%;
        box-shadow: 2px 2px 0px 0px #000000; 
        box-sizing: border-box;
        border-style: outset; 
        background-color: #BEBEBE; 
        margin-bottom: 4%;
        width:100%
    }

    .photo1{
        width:100%
    }

    .photo2{
        width: 100%;
    }

    .settingtable{
        margin-top: 4%;
        width:100%;
        box-shadow: 2px 2px 0px 0px #000000; 
        box-sizing: border-box;
        border-style: outset; 
        background-color: #BEBEBE;
        width:100%
    }

    .tabtableright{
        width:100%;
        box-shadow: 2px 2px 0px 0px #000000; 
        box-sizing: border-box;
        border-style: outset; 
        background-color: #BEBEBE;
        margin-top: 5%;
        width:100%
    }

        .tbody{
        display: block;
        overflow-y: scroll;
    }

    .date{
        border-style: outset;
    }

    .entry{
        border-style: outset;
    }
    .footer{
        float:inline-start;
        font-family: MS_Sans_Serif; 
        position: fixed; 
        bottom: 0; 
        left:0; 
        background-color:#BEBEBE;
        border-style: outset;
        width: 100%;
        line-height: 4%;
    }
    
        .start {
            float: left;
            text-align: left;
            margin:2px;
    }
    
    
        .welcome
        {
            display: none;
        }
    
        .clock { 
        margin:2.9px;
        margin-right: 4px;
        text-align: right;
        box-sizing: border-box;
      border-style: inset;
      padding-inline: 2%;
      padding-top: 17px;
      padding-bottom: 15px;
      font-size: 15px;
      font-weight: 50;
      box-shadow: -2px -2px 0px 0px #000000;
      float: right;
      width:20%;
        }
    }



    @media (min-width: 500px) {
        .body{
            background-color:#007C7A; 
            padding-top: 0%; 
            padding-right: 3%;
            padding-left: 3%;
        }

        .phototable{
            float: left;
            width: 25%; 
            margin-top: 15%;
            margin-left: 7%;
            box-shadow: 2px 2px 0px 0px #000000; 
            box-sizing: border-box;
            border-style: outset; 
            background-color: #BEBEBE;
        }

        .tabtableright{
            float: right;
            margin-right: 7%;
            margin-top: 3%;
            width: 45%; 
            box-shadow: 2px 2px 0px 0px #000000; 
            box-sizing: border-box;
            border-style: outset; 
            background-color: #BEBEBE;
          
        }
        .settingtable{
            float: left;
            width: 30%; 
            margin-top: 5%;
            margin-left: 15%;
            margin-right: 3%;
            box-shadow: 2px 2px 0px 0px #000000; 
            box-sizing: border-box;
            border-style: outset; 
            background-color: #BEBEBE;
            margin-bottom: 4%;
        }

    .tbody{
        display: block;
        overflow-y: scroll;
        height: 325px
    }

    .date{
        border-style: outset;
    }

    .entry{
        border-style: outset;
    }
    .footer{
        vertical-align: middle;
        font-family: MS_Sans_Serif; 
        position: fixed; 
        bottom: 0; 
        left:0; 
        background-color:#BEBEBE;
        border-style: outset;
        width:100%;
    }
    
        .start {
            float: left;
            text-align: left;
            margin:2px;
            width:6%;
        }
    
        .welcome{
            float: left;
            text-align: left;
            margin:4px; 
            background-color: #D3D3D3;
            box-sizing: border-box;
            border-style: inset;
            padding-inline: 10px;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 15px;
            font-family: MS_Sans_Serif;
            box-shadow: -2px -2px 0px 0px #000000;
            width: 15%;
        }
        
        .clock { 
            margin:5px;
    text-align: right;
    box-sizing: border-box;
      border-style: inset;
      padding-inline: 10px;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 15px;
      font-weight: 50;
      box-shadow: -2px -2px 0px 0px #000000;
      float: right;
      width: 4.5%;
        }
    }

    @font-face {
        font-family: 'MS_Sans_Serif';
        src: url("MS Sans Serif 8pt.ttf");
      }
    
    .h3{
        font-size: 4%;
        font-weight: 1px;
    }

    <h3>
    <br>Sweeping up the overpass
    <br>curving in concentric circles above my city
    <br>my car is warmed by that strange 
    <br>sun in dead winter 
    <br>sun lifting the smog so that we see mountains 
    <br>so that I'm circling like a bird of prey.
    <br><br>
    <! white buildings, pink stone, light fixtures >
    </h3>