@media (max-width: 500px) {
    .body::before{
        background-color:black;  
        padding-top: 2px; 
        font-family: UTM_Times;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: env(safe-area-inset-top);
    }

    .body{
        background-color: #000000;
        overflow: hidden;
    }


    .tabtable{
        background-color: white;
        margin: 0%;
        margin-right: 5%;
        margin-top: 35%;
        display:block;
        width:100%;

    }

    .tabtop{
        background-color: #828282; 
        font-weight: 10; 
        text-align: left; 
        border-left: #828282; 
        padding-left: 3px;
        display:none
    }

    .tabtable_centered{
        box-shadow: 2px 2px 0px 0px #000000; 
        box-sizing: border-box;
        border-style: outset; 
        background-color: #BEBEBE;
        margin: 0%;
        margin-right: 5%;
        margin-top: 5%;
        display: block;
        width:100%
    }

    .innertable{
        margin: 0%;
        margin-right: 5%;
        display: block;
        width:100%;
        background-color:white ;
    }


    /* .tbody{
        display:contents;
        overflow-y: scroll;
        width:100vh
    }

    .tbody_collapse{
        display:contents;
        overflow-y: scroll;
        width:100vh
    } */

        .tbody{
        table-layout: fixed;
        display: block;
        overflow-y: scroll;
        height: 400px;
        min-width: 100%;
    }

    .tbody_collapse{
        table-layout: fixed;
        display: block;
        overflow-y: scroll;
        height: auto;
        min-width: 100%;
    }

    .date{
        display: none;
        font-weight: 0; 
        text-align: left; 
    }

    .entry{
        width:100%;
        font-weight: 70; 
        text-align: left; 
        vertical-align: 
        text-top; padding: 10px;
    }

    .footer{
        float:inline-start;
        font-family: UTM_Times; 
        position: fixed; 
        bottom: 0; 
        left:0; 
        background-color:#BEBEBE;
        border-style: outset;
        width: 100%;
        line-height: 4%;
    }
    
        .start {
            float: left;
            text-align: left;
            margin:2px;
    }
    
    
        .welcome
        {
            display: none;
        }
    
        .clock { 
        margin:2.9px;
        margin-right: 4px;
        text-align: right;
        box-sizing: border-box;
      border-style: inset;
      padding-inline: 2%;
      padding-top: 17px;
      padding-bottom: 15px;
      font-size: 15px;
      font-weight: 50;
      box-shadow: -2px -2px 0px 0px #000000;
      float: right;
      width:20%;
        }
    }



    @media (min-width: 500px) {
        .body{
            background-color:white; 
            padding-top: 0%; 
            padding-right: 3%;
            padding-left: 3%;
            overflow: hidden;
        }

        .innertable{
            width:100%;
            min-width: 100%;
            /* background-color:#BEBEBE ; */
        }


        .tabtable{
            float: right;
            width: 100%; 
            margin-top: 4%;
            /* box-shadow: 2px 2px 0px 0px #000000; 
            box-sizing: border-box;
            border-style: outset; 
            background-color: #BEBEBE; */
        }

        .tabtop{
        background-color: #828282; 
        font-weight: 10; 
        text-align: left; 
        border-left: #828282; 
        padding-left: 3px;
        display:none
    }

        .tabtable_centered{
            float: right;
            width: 100%; 
            margin-top: 6%;
            /* box-shadow: 2px 2px 0px 0px #000000; 
            box-sizing: border-box;
            border-style: outset;  */
            /* background-color: #BEBEBE; */
        }

        .innertable{
        margin: 0%;
        margin-right: 5%;
        display: block;
        width:100%;
        background-color:white ;
    }

        .entryholder{
            min-width: 100%;
            table-layout: fixed;
        }


    .tbody{
        table-layout: fixed;
        display: block;
        overflow-y: scroll;
        height: 515px;
        min-width: 100%;
    }

    .tbody_collapse{
        table-layout: fixed;
        display: block;
        overflow-y: scroll;
        height: auto;
        min-width: 100%;
    }


    .date{

        width:100px;
        font-weight: 70; 
        text-align: left; 
        vertical-align: text-top; 
        padding: 25px
    }

    .entry{
        width:1500px;
        padding: 25px;
        font-weight: 70; 
        text-align: left; 
        vertical-align: text-top; 
        padding: 10px;
        padding-right: 10%;
        padding-top: 5%;
    }

    .footer{
    vertical-align: middle;
    font-family: UTM_Times; 
    position: fixed; 
    bottom: 0; 
    left:0; 
    background-color:#BEBEBE;
    border-style: outset;
    width:100%;
}
    
        .start {
            float: left;
            text-align: left;
            margin:2px;
            width:6%;
        }

            .welcome{
        float: left;
        text-align: left;
        margin:4px; 
        background-color: #D3D3D3;
        box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-style: inset;
  padding-inline: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 15px;
  box-shadow: -2px -2px 0px 0px #000000;
  width: 15%;
    font-family: "UTM_Times";
    }

            .clock { 
        margin:5px;
text-align: right;
box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-style: inset;
  padding-inline: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 15px;
  font-weight: 50;
  box-shadow: -2px -2px 0px 0px #000000;
  float: right;
  width: 4.5%;
    }
    }

    @font-face {
        font-family: 'MS_Sans_Serif';
        src: url("MS Sans Serif 8pt.ttf");
      }

     @font-face {
        font-family: 'UTM_Times';
        src: url("UtmTimes-xOlr.ttf");
      }
