@media (max-width: 500px) {

    .box100{
        align-items: center;
        font-family:'Times New Roman', Times, serif;
        color:white; 
        font-size: 100%;
        text-align: left; 
        background-color: blue; 
        width:100%;
        padding:1%;
        border-style: outset;
    }

    .blackbox100{
        align-items: center;
        font-family:'Times New Roman', Times, serif;
        color:white; 
        font-size: 100%;
        text-align: left; 
        background-color: black; 
        width:100%;
        padding:1%;
        border-style: outset;
    }

    .box60{
        align-items: center;
        font-family:'Times New Roman', Times, serif;
        color:white; 
        font-size: 100%;
        text-align: left; 
        background-color: blue; 
        width:100%;
        padding:2%;
        border-style: outset;

    }

    .box30{
        align-items: center;
        font-family:'Times New Roman', Times, serif;
        color:white; 
        font-size: 100%;
        text-align: left; 
        background-color: blue; 
        width:100%;
        padding:2%;
        border-style: outset;

    }

    .boxleft{
        align-items: center;
        font-family:'Times New Roman', Times, serif;
        color:white; 
        font-size: 100%;
        text-align: left; 
        background-color: blue; 
        width:100%;
        padding:2%;
        border-style: outset;
        position: relative;
        margin-bottom: 10%;
    }

    .boxmiddle{
        align-items: center;
        font-family:'Times New Roman', Times, serif;
        color:white; 
        font-size: 100%;
        text-align: left; 
        background-color: blue; 
        width:100%;
        padding:2%;
        border-style: outset;
        position: relative;
        margin-bottom: 5%;
    }

    .boxright{
        align-items: center;
        font-family:'Times New Roman', Times, serif;
        color:white; 
        font-size: 100%;
        text-align: left; 
        background-color: blue; 
        width:100%;
        padding:2%;
        border-style: outset;
        position: relative;
        margin-bottom: 5%;
    }

.back{
    display: table-cell;
    padding:15px;
    font-size: 150%;
    border: 3px outset #999;
    font-family:monospace;
    vertical-align: middle;
    text-align: center;
    color: #BEBEBE;
}
}

@media (min-width: 500px) {

    .box100{
        align-items: center;
        font-family:'Times New Roman', Times, serif;
        color:white; 
        font-size: 120%;
        text-align: left; 
        background-color: blue; 
        width:100%;
        padding:1%;
        border-style: outset;
    }

    .blackbox100{
        align-items: center;
        font-family:'Times New Roman', Times, serif;
        color:white; 
        font-size: 120%;
        text-align: left; 
        background-color: black; 
        width:100%;
        padding:1%;
        border-style: outset;
    }

    .box60{
        align-items: center;
        font-family:'Times New Roman', Times, serif;
        color:white; 
        font-size: 120%;
        text-align: left; 
        background-color: blue; 
        width:60%;
        padding:2%;
        border-style: outset;

    }

    .box30{
        align-items: center;
        font-family:'Times New Roman', Times, serif;
        color:white; 
        font-size: 120%;
        text-align: left; 
        background-color: blue; 
        width:30%;
        padding:2%;
        border-style: outset;

    }

    .boxleft{
        align-items: center;
        font-family:'Times New Roman', Times, serif;
        color:white; 
        font-size: 120%;
        text-align: left; 
        background-color: blue; 
        width:35%;
        padding:2%;
        border-style: outset;
        position: relative;
        margin-bottom: 5%;
    }

    .boxmiddle{
        align-items: center;
        font-family:'Times New Roman', Times, serif;
        color:white; 
        font-size: 120%;
        text-align: left; 
        background-color: blue; 
        width:35%;
        padding:2%;
        border-style: outset;
        position: relative;
        margin-bottom: 5%;
    }

    .boxright{
        align-items: center;
        font-family:'Times New Roman', Times, serif;
        color:white; 
        font-size: 120%;
        text-align: left; 
        background-color: blue; 
        width:35%;
        padding:2%;
        border-style: outset;
        position: relative;
        margin-bottom: 5%;
    }


    .back{
        display: table-cell;
        padding:15px;
        font-size: 150%;
        border: 3px outset #999;
        font-family:monospace;
        vertical-align: middle;
        text-align: center;
        color: #BEBEBE;
    }
    }