@media (max-width: 500px) {
    .body{
        background-color:#558bbc;  
        padding-top: 2px; 
        font-family: UTM_Times;
    }
    .settingtable{
        /* width: 100%; */
        margin-top: 4%;
        box-shadow: 2px 2px 0px 0px #000000; 
        box-sizing: border-box;
        border-style: outset; 
        background-color: #ede4d4;
        float: center;
    }

    .tabtable{
        box-shadow: 2px 2px 0px 0px #000000; 
        box-sizing: border-box;
        border-style: outset; 
        background-color: #ede4d4;
        margin: 5% auto;
    }

    .tabtable2{
        position:fixed;
        top:1;
        right:1;
    box-shadow: 2px 2px 0px 0px #000000; 
    box-sizing: border-box;
    background-color: #ede4d4;
    /* left:0;
    top:0; */
    z-index: 10;
    max-width: fit-content;
}

        .tbody{
        display: block;
        overflow-y: scroll;

    }

    .date{
        border-style: outset;
        display: block;
    }

    .entry{
        border-style: outset;
    }

    .resultBox{
        display: none;
    }

    .footer{
        float:inline-start;
        font-family: UTM_Times; 
        position: fixed; 
        bottom: 0; 
        left:0; 
        background-color:#BEBEBE;
        border-style: outset;
        width: 100%;
        line-height: 4%;
    }
    
        .start {
            float: left;
            text-align: left;
            margin:2px;
    }
    
    
        .welcome
        {
            display: none;
        }
    
        .clock { 
        margin:2.9px;
        margin-right: 4px;
        text-align: right;
        box-sizing: border-box;
      border-style: inset;
      padding-inline: 2%;
      padding-top: 17px;
      padding-bottom: 15px;
      font-size: 15px;
      font-weight: 50;
      box-shadow: -2px -2px 0px 0px #000000;
      float: right;
      width:20%;
        }
        .help { 
    margin:2.9px;
    margin-right: 4px;
    text-align: right;
    box-sizing: border-box;
  border-style: outset;
  padding-inline: 2%;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 15px;
  font-weight: 50;
  box-shadow: -2px -2px 0px 0px #000000;
  float: right;
  width:10%;
}
    }



    @media (min-width: 500px) {
        .body{
            background-color:#558bbc; 
            padding-top: 0%; 
            padding-right: 3%;
            padding-left: 3%;
        }

        .tabtable{
            margin: 4% auto;
            box-shadow: 2px 2px 0px 0px #000000; 
            box-sizing: border-box;
            border-style: outset; 
            background-color: #ede4d4;
            
        }

            .tabtable2{
        position:fixed;
        top:1;
        right:1;
        box-shadow: 2px 2px 0px 0px #000000; 
        box-sizing: border-box;
        border-style: outset; 
        background-color: #ede4d4;
        z-index: 10;
        max-width: fit-content;
    }


    .tbody{

        max-height: 400px;
        display: block;
        overflow-y: scroll;
        min-width:auto

    }

    .date{
        border-style: outset;
        min-width:100%
    }

    .entry{
        border-style: outset;
        min-width:100%

    }

    .resultBox{
        display: none;
    }


    .footer{
        vertical-align: middle;
        font-family: UTM_Times; 
        position: fixed; 
        bottom: 0; 
        left:0; 
        background-color:#BEBEBE;
        border-style: outset;
        width:100%;
    }
    
        .start {
            float: left;
            text-align: left;
            margin:2px;
            width:6%;
        }
    
        .welcome{
            float: left;
            text-align: left;
            margin:4px; 
            background-color: #D3D3D3;
            box-sizing: border-box;
            border-style: inset;
            padding-inline: 10px;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 15px;
            font-family: UTM_Times;
            box-shadow: -2px -2px 0px 0px #000000;
            width: 15%;
        }
        
        .clock { 
            margin:5px;
    text-align: right;
    box-sizing: border-box;
      border-style: inset;
      padding-inline: 10px;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 15px;
      font-weight: 50;
      box-shadow: -2px -2px 0px 0px #000000;
      float: right;
      width: 4.5%;
        }

            .help { 
    margin:5px;
text-align: center;
box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-style: outset;
  padding-inline: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 15px;
  font-weight: 50;
  box-shadow: -2px -2px 0px 0px #000000;
  float: right;
  width: 2.5%;
}
    }

    @font-face {
        font-family: 'MS_Sans_Serif';
        src: url("MS Sans Serif 8pt.ttf");
      }