.popup{
    "background-color:#BEBEBE ; 
    width: 60%; 
    height: 40%; 
    border-collapse: collapse; 
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
    border-style: outset; 
    border-width: 5px;">
}



.footer{
    vertical-align: middle;
    font-family: MS_Sans_Serif; 
    position: fixed; 
    bottom: 0; 
    left:0; 
    width: 100%;
    background-color:#BEBEBE;
    border-style: outset;
}

    .start {
        float: left;
        text-align: left;
        margin:2px;
    }

    .welcome{
        float: left;
        margin:4px; 
        background-color: #D3D3D3;
        box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-style: inset;
  padding-inline: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  box-shadow: -2px -2px 0px 0px #000000;
    }
    
    .clock { 
        margin:5px;
text-align: right;
box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-style: inset;
  padding-inline: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  font-weight: 50;
  box-shadow: -2px -2px 0px 0px #000000;
  float: right;
    }

    @font-face {
        font-family: 'MS_Sans_Serif';
        src: url("C:/Users/storm/OneDrive/Documents/GitHub/streetrees.github.io/MS Sans Serif 8pt.ttf");
      }

