@media (max-width: 500px) {
    .body1{
        background-color: #005655;
    }
    
    .table1{
        width:100%;
        display:table;
        margin-top: 5%;
        border-collapse: separate;
        border-spacing: 15px;
        table-layout: fixed;
        text-align: center;
        padding-top: 20%;
    }
    
    .number1{
        background-color: #007C7A;
        display: table-cell;
        padding:30px;
        font-size: 100%;
        border: 3px outset #999;
        font-family:'Times New Roman', Times, serif;
        vertical-align: middle;
        text-align: center;
        color: #BEBEBE;
        
    }

    .letter1{
        background-color: #007C7A;
        display: table-cell;
        padding:30px;
        font-size: 100%;
        border: 3px outset #999;
        font-family:'Times New Roman', Times, serif;
        vertical-align: middle;
        text-align: center;
        color: white;
        
    }
    
    .nanobody1{
        background-color: #6e6e6e;
        font-family: monospace;
        color:#BEBEBE
    }
    
    .tabtable1{
        display: fixed;
        align-items: center;
        justify-content: center;
        width: 100%; 
        margin-top: 1%;
    }
    
    .tbody1{
        display: block;
        height: 90%;
    }
    
    .entry1{
        background-color: #BEBEBE;
    
    }

    .start1{
        background-color: #C3C300;
        display: table-cell;
        padding:30px;
        font-size: 50%;
        border: 3px outset #999;
        font-family:'Times New Roman', Times, serif;
        vertical-align: middle;
        text-align: center;
        
    }

    .blue1{
        background-color: blue;
        display: table-cell;
        padding:30px;
        font-size: 10%;
        border: 3px outset #999;
        font-family:'Times New Roman', Times, serif;
        vertical-align: middle;
        text-align: left;
        color: blue;
        
    }
    
    .area1{
        color:black;
        font-family: monospace;
        font-size: 120%;
    }
    
    .back{
        display: table-cell;
        padding:15px;
        font-size: 150%;
        border: 3px outset #999;
        font-family:monospace;
        vertical-align: middle;
        text-align: center;
        color: #BEBEBE;
    }
    
    #area {  
        width: 96.6em;
        height: 35em;
        font-size: 15px; 
        font-weight: 700; 
        padding: 5px; 
        margin-top: 15px; 
        outline: none; 
        margin-left: 5px;
    
    } 
    
    #area:focus { 
        outline: none; 
    } 
    
    .result { 
        color: green; 
        font-size: 20px; 
        width: 100%; 
        text-align: center; 
        font-weight: 700; 
        padding: 5px; 
        border: 2px solid green; 
        margin-top: 10px; 
    } 
      
    #word, 
    #char { 
        font-size: 25px; 
        font-weight: bold; 
        text-decoration: underline; 
}
}

@media (min-width: 500px) {
    .body1{
        background-color: #005655;
    }
    
    .table1{
        width:50%;
        display:table;
        margin-top: 5%;
        border-collapse: separate;
        border-spacing: 15px;
        table-layout: fixed;
        text-align: center;
    }

    .letter1{

        font-size: 150%;
        font-family:'Times New Roman', Times, serif;
        vertical-align: middle;
        text-align: center;
        color: white;
        
    }
    
    .number1{
        background-color: #007C7A;
        display: table-cell;
        padding:30px;
        font-size: 250%;
        border: 3px outset #999;
        font-family:'Times New Roman', Times, serif;
        vertical-align: middle;
        text-align: center;
        color: white;
        
    }

    .start1{
        background-color: #C3C300;
        display: table-cell;
        padding:30px;
        font-size: 250%;
        border: 3px outset #999;
        font-family:'Times New Roman', Times, serif;
        vertical-align: middle;
        text-align: center;
        
    }

    .blue1{
        background-color: blue;
        display: table-cell;
        padding:30px;
        font-size: 250%;
        border: 3px outset #999;
        font-family:'Times New Roman', Times, serif;
        vertical-align: middle;
        text-align: center;
        color: blue;
        
    }
    
    .nanobody1{
        background-color: #6e6e6e;
        font-family: monospace;
        color:#BEBEBE
    }
    
    .tabtable1{
        display: fixed;
        align-items: center;
        justify-content: center;
        width: 100%; 
        margin-top: 1%;
    }
    
    .tbody1{
        display: block;
        height: 90%;
    }
    
    .entry1{
        background-color: #BEBEBE;
    
    }
    
    .area1{
        color:black;
        font-family: monospace;
        font-size: 120%;
    }
    
    .back1{
        display: table-cell;
        padding:15px;
        font-size: 150%;
        border: 3px outset #999;
        font-family:monospace;
        vertical-align: middle;
        text-align: center;
        color: #BEBEBE;
    }
    
}

@font-face {
    font-family: 'MS_Sans_Serif';
    src: url("MS Sans Serif 8pt.ttf");
  }