@media (max-width: 500px) {
    .body{
        background-color:#007C7A;  
        padding-top: 2px; 
        font-family: UTM_Times;
    }


    .title{
        width:100%;
        margin-top: 1%;
    }

    .settingtable{
        width: 100%;
        margin-top: 4%;
        box-shadow: 2px 2px 0px 0px #000000; 
        box-sizing: border-box;
        border-style: outset; 
        background-color: #BEBEBE;
        float: center;
    }

    .tabtable{
        box-shadow: 2px 2px 0px 0px #000000; 
        box-sizing: border-box;
        border-style: outset; 
        background-color: #BEBEBE;
        margin: 0%;
        margin-top: 5%;
    }

        .tbody{
        display: block;
        overflow-y: scroll;
    }

    .date{
        border-style: outset;
    }

    .entry{
        border-style: outset;
    }

/* NOTE */
.text  {
    font-family: monospace
  }
  .alb {
    float: center;
    display: block;
    position: relative;
    padding: 1em;
    width: 60%;
    height: 140px;
    /* margin: 0 30px 30px 0; */
    margin-top: 4%;
    background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
    background-image: url("alb.JPG"); 
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);  
    transform: rotate(-2deg);
    /* transform: skew(-1deg,1deg); */
    transition: transform .15s;
    z-index: 1;
  }

  .note2 {
    float: right;
    display: block;
    position:relative;
    padding: 1em; 
    width:60%;
    height:140px;
    /* margin: 0 30px 30px 0;  */
    background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
    background-image: url("light.JPG"); opacity:0.5;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);  
    transform: rotate(2deg);
    transform: skew(-1deg,1deg);
    transition: transform .15s;
    z-index: 1;
  }

  .snow {
    float: left;
    display: block;
    position: relative;
    padding: 1em;
    width: 60%;
    min-height: 140px;
    /* margin: 0 30px 30px 0; */
    /* margin-top: 3%; */
    background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
    background-image: url("tree1.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);  
    transform: rotate(-1deg);
    transform: skew(-1deg,1deg);
    transition: transform .15s;
    z-index: 1;
  }

  .note:hover {
    cursor: move;
  }


.text2{
font-size: 150%;
}



    .footer{
        float:inline-start;
        font-family: UTM_Times; 
        position: fixed; 
        bottom: 0; 
        left:0; 
        background-color:#BEBEBE;
        border-style: outset;
        width: 100%;
        line-height: 4%;
    }
    
        .start {
            float: left;
            text-align: left;
            margin:2px;
    }
    
    
        .welcome
        {
            display: none;
        }
    
        .clock { 
        margin:2.9px;
        margin-right: 4px;
        text-align: right;
        box-sizing: border-box;
      border-style: inset;
      padding-inline: 2%;
      padding-top: 17px;
      padding-bottom: 15px;
      font-size: 15px;
      font-weight: 50;
      box-shadow: -2px -2px 0px 0px #000000;
      float: right;
      width:20%;
        }
    }



    @media (min-width: 500px) {
        .body{
            background-color:#007C7A; 
            padding-top: 0%; 
            padding-right: 0%;
            padding-left: 0%;
        }

        .title{
            width:50%;
            margin-top: 1%;
        }

        .tabtable{
            float: right;
            width: 100%; 
            margin-top: 4%;
            box-shadow: 2px 2px 0px 0px #000000; 
            box-sizing: border-box;
            border-style: outset; 
            background-color: #BEBEBE;
        }

        .settingtable{
            float: left;
            width: 18%; 
            margin-top: 5%;
            box-shadow: 2px 2px 0px 0px #000000; 
            box-sizing: border-box;
            border-style: outset; 
            background-color: #BEBEBE;
        }

    .tbody{
        display: block;
        overflow-y: scroll;
        height: 300px;

    }

    .date{
        border-style: outset;
    }

    .entry{
        border-style: outset;
    }


      /* NOTE */
      .text  {
        font-family: monospace
      }
      .alb {
        float: right;
        display: block;
        position: relative;
        padding: 1em;
        width: 400px;
        min-height: 300px;
        margin: 0 30px 30px 0;
        margin-top: 2%;
        background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
        background-image: url("alb.JPG"); 
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);  
        transform: rotate(-2deg);
        /* transform: skew(-1deg,1deg); */
        transition: transform .15s;
        z-index: 1;
      }


      .note2 {
        float: right;
        display: block;
        position: relative;
        padding: 1em;
        width: 400px;
        min-height: 300px;
        margin: 0 30px 30px 0;
        margin-top: 10%;
        background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
        background-image: url("light.JPG"); opacity: 0.5;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);  
        transform: rotate(2deg);
        transform: skew(-1deg,1deg);
        transition: transform .15s;
        z-index: 1;
      }

      .snow {
        float: right;
        display: block;
        position: relative;
        padding: 1em;
        width: 400px;
        min-height: 300px;
        margin: 0 30px 30px 0;
        margin-top: 3%;
        background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
        background-image: url("tree1.JPG");
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);  
        transform: rotate(2deg);
        transform: skew(-1deg,1deg);
        transition: transform .15s;
        z-index: 1;
      }

      .note:hover {
        cursor: move;
      }


    .text2{
    font-size: 250%;
    }


    .footer{
        vertical-align: middle;
        font-family: UTM_Times; 
        position: fixed; 
        bottom: 0; 
        left:0; 
        background-color:#BEBEBE;
        border-style: outset;
        width:100%;
    }
    
        .start {
            float: left;
            text-align: left;
            margin:2px;
            width:6%;
        }
    
        .welcome{
            float: left;
            text-align: left;
            margin:4px; 
            background-color: #D3D3D3;
            box-sizing: border-box;
            border-style: inset;
            padding-inline: 10px;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 15px;
            font-family: UTM_Times;
            box-shadow: -2px -2px 0px 0px #000000;
            width: 15%;
        }
        
        .clock { 
            margin:5px;
    text-align: right;
    box-sizing: border-box;
      border-style: inset;
      padding-inline: 10px;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 15px;
      font-weight: 50;
      box-shadow: -2px -2px 0px 0px #000000;
      float: right;
      width: 4.5%;
        }
    }

    @font-face {
        font-family: 'MS_Sans_Serif';
        src: url("MS Sans Serif 8pt.ttf");
      }